@font-face { 
    font-family: "PTSans"; 
    src: url('PTSans-Regular.ttf'); 
    font-weight: normal; 
    font-style: normal; 
  } 
    
  @font-face { 
    font-family: "PTSans"; 
    src: url('PTSans-Bold.ttf'); 
    font-weight: bold; 
    font-style: normal; 
  } 
    
  @font-face { 
    font-family: "PTSans"; 
    src: url('PTSans-Italic.ttf'); 
    font-weight: normal; 
    font-style: italic; 
  } 